ul#navigation li.external:hover .fa, ul#navigation li.currentmenu .fa{
	color: #15a1ff;
}
.ul-boxed li {
	border-left-color:#025cd1ad;
}
ul.ul-card li .dy .year {
	background-color: #025cd1ad;
}
ul.ul-dates div.dates span {
	background-color: #025cd1ad;
}
ul.timeline li .date {
	background: #025cd1ad;
}
ul.timeline li .data {
	border-left-color: #025cd1ad;
}
.ul-withdetails li .imageoverlay {
	background: #025cd1ad;
}
.cd-active.cd-dropdown > span {
	color: #025cd1ad;
}
.cd-active.cd-dropdown ul li span:hover {
	background: #025cd1ad;
}
.pitems .pubmain .pubassets {
	border-top-color:#025cd1ad; 
}
.pitems .pubmain .pubassets a:hover,.pitems .pubmain .pubassets a:focus,.pitems .pubmain .pubassets a.pubcollapse {
	background: #025cd1ad;
}
.contact-office .icon-huge, .contact-lab .icon-huge {
	color: #025cd1ad;
}

/* secondary color 
**************************************************/
ul.ul-card li .dy .degree {
	background-color: #278fd4;
}
ul.ul-dates div.dates span:last-child {
	/* font-weight: bold; */
	color: rgb(34, 33, 33);
	/* background-color:  white; */
	background-color: #adcee4;
}
ul.timeline li.open .circle {
	background-color: #278fd4;
}
ul.timeline li.open .data {
	border-color: #278fd4;
}
#labp-heads-wrap {
	background-color: #278fd4;
}
#labp-heads-wrap:after{
	border-top-color: #278fd4;
}


:root{
	--tint:#278fd4dc;
}








